body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  line-height: 1.2;
  background:$cream;
  color: $darkBlue;
  // letter-spacing: 0.05em;
}

h1{
  font-size: 1.6em;
  margin: 2em 0 0 0;

}

h2{
  font-size: 1.2em;
  margin: 3em 0 0 0;
}

h3{
  font-size: 1.1em;
  margin:0.2em 0 0.2em 0;
}

p{
  font-size: 1em;
  margin: 1em 0.2em;
}

a{
  color: $lightBlue;
  text-decoration: none;
  border-bottom: 0.1em solid;
}

a:active{ 
  color: $lightBlue;  
}

a:hover{ 
  border-bottom: 0.15em solid; 
}

a:visited{ 
  color: $darkBlue;
}

ul{
  list-style-type: none;
}
li{
  margin: 0.5em 0;
  padding-left: 1em;
  display: inline-block;
}

button{
  background: $lightBlue;
  color: $cream;
  font-size: 1em;
  outline: 0;
  border-style: solid;
  border-color: $darkBlue;
  border-radius: 0.5em;
  padding: 0.2em;
  &:hover{
    background: $darkBlue;
  }
}

input{
  background: $lightBlue;
  color: $cream;
  font-size: 1em;
  border-color: $darkBlue;
  border-radius: 0.5em;
  width:27.5%;
  padding: 0.2em;
   outline: none;
  &:focus{
    background:$darkBlue;
  }
}
sup { 
    vertical-align: super;
    font-size: 0.8em;
}

.wrap{
  width:90%;
  max-width:60em;
  margin:0 auto;
}
.scale{
  padding:0.1%;
  max-width: 100%;
  margin: 2% 0;
}
.scaleHalf{
  padding:0.05%;
  max-width: 25%;
  margin: 1% 0;
}
.scaleQuarter{
  padding: 0% 0.05% 0 0.05%;
  max-width: 12.5%;
  margin: 1.25% 0 0 1%;
}
.left{
  float: left;
}
.right{
  float: right;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.site-nav{
  display: inline-block;
  margin: 5% 0% 1% 75%;
}
 
.contact{
  margin: 1em;
}

a.page-link{
  display: inline-block;
}
a.site-title{
  font-size: 1.1em;
  margin: 3em 0 3em 0;
  color: $darkBlue;
  border-bottom-style: hidden;
}
h2.page-heading{
  margin: 10em 0 0 0;
}
div.page-content{
  margin: 10em 0 0 0;
}
.mainPostImage{
  width: 100%;
}
