// COLOURS

// "The New Defaults"
$aqua:#7fdbff;
$blue:#0074d9;
$navy:#001f3f;
$teal:#39cccc;
$green:#2ecc40;
$olive:#3d9970;
$lime:#01ff70;
$yellow:#ffdc00;
$orange:#ff851b;
$red:#ff4136;
$fuchsia:#f012be;
$purple:#b10dc9;
$maroon:#85144b;
$white:#fff;
$silver:#ddd;
$grey:#91AA9D;
$black:#111;

$lightBlue:#4AD9D9;
$darkBlue:#309CA8;
$cream:#FFFFFA;
$pink:#F2385A;

// Selection Colours
::selection{
  color:$darkBlue;
  background:$lightBlue;
}
a::selection{
  color:$lightBlue;
  background:$darkBlue;
}